<%= turbo_frame_tag "modal" do %>
  <h2 class="text-3xl font-extrabold text-yellow-400 text-center mb-6 tracking-wide">
    Log In to Your Account
  </h2>
  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), class: "space-y-6") do |f| %>
  
    <!-- Email Field -->
    <div class="p-4 border border-yellow-500 rounded-lg">
      <%= f.label :email, "Email Address:", class: "block text-lg font-medium text-yellow-400" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                        class: "mt-1 block w-full px-4 py-3 bg-gray-700 border-none rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-400 focus:border-yellow-400 transition-colors duration-300", 
                        placeholder: "you@example.com", required: true %>
    </div>

    <!-- Password Field -->
    <div class="p-4 border border-yellow-500 rounded-lg">
      <%= f.label :password, "Password:", class: "block text-lg font-medium text-yellow-400" %>
      <%= f.password_field :password, autocomplete: "current-password",
                           class: "mt-1 block w-full px-4 py-3 bg-gray-700 border-none rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-400 focus:border-yellow-400 transition-colors duration-300", 
                           placeholder: "Your password", required: true %>
    </div>

      <!-- Error Messages -->
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- Submit Button -->
    <div id="submit-button">
      <%= f.submit "Log In", class: "w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-gray-900 bg-yellow-400 hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400 transition-colors duration-300" %>
    </div>
  <% end %>

  <!-- Link to Sign Up -->
  <p class="text-center mt-4 text-gray-400">
    Don't have an account?
    <%= link_to "Sign Up", new_registration_path(resource_name), class: "text-yellow-400 underline", data: { turbo_frame: "modal" } %>
  </p>
<% end %>
